.margin2pc{
    margin: 2%;
}

.button-options {
  align-items: center;
  justify-content: center;
  display: -webkit-box;
}

h3 {
  text-align: center;
}

.inbox-student{
  margin-top: 1%;
  padding-left: 37%;
  width:25%;
  height: 40%;
}

.chat-student {
  max-height: 39em;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
