.chat {
  height: 100%;
  overflow-x:hidden;
  display: flex;
  flex-direction: column-reverse;
}

.input {
  margin-top: 3%;
  padding: initial;
  border-radius: 10px;
}

.mat-fab {
  color: #ffffff;
}

.infix {
  width: 19em;
  padding-left: 3%;
}

mat-icon {
  color: #eeeeee;
}
