:host {
  display: none;
}

:host.is-open {
  display: block;
}

.view-transparency {
  display: flex;
  height: 20em;
  width: 22em;
}

.layout-alignment {
  min-height: 10px;
  padding-bottom: 10px;
  display: block;
}

#url {
  width: 25em;
}
