<mat-card>
  <mat-tab-group>
    <mat-tab label="Transparencia">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <mat-form-field id="url">
            <input matInput [(ngModel)]="videoURL" placeholder="url">
          </mat-form-field>
        </div>
        <div fxFlex id="visor-video">
          <iframe width="300" height="200" [src]="videoURL" allowfullscreen></iframe>
        </div>
      </div>
      <div class="layout-alignment"></div>

      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card>
            <textarea class="view-transparency" matInput placeholder="Transparencia: "></textarea>
          </mat-card>
          <mat-action-row>
            <button mat-raised-button color="primary" (click)="saveVideoUrl()" class="button-content">Guardar</button>
          </mat-action-row>
        </div>
        <div fxFlex>
          <mat-card class="view-transparency">
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Visor">
      <app-graph-unit></app-graph-unit>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<router-outlet></router-outlet>
