.chat {
  height: 100%;
  overflow-x:hidden;
  display: flex;
  flex-direction: column-reverse;
}

.mat-fab {
  color: #ffffff;
}

.infix {
  width: 100%;
  padding-left: 3%;
}

.infix-chat {
  display: flex;
}

mat-icon {
  color: #eeeeee;
}

.space-input {
  width: inherit;
}
