<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span> Contenido de la unidad:
          <b>{{unit.getName()}}</b>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <textarea class="exercise" matInput [(ngModel)]="unit.content"></textarea>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="saveUnitContent()" class="button-content">Guardar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-expansion-panel [expanded]="0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Itinerarios
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-tab-group>
    <mat-tab *ngFor="let itinerary of itinerarys" label={{itinerary.getName()}}>
      <app-session [graphUnitComponent]="graphUnitComponent" [exerciseUnitComponent]="exerciseUnitComponent"
      [videoUnitComponent] = "videoUnitComponent" [itinerary]="itinerary" (openExerciseInfo)="openExerciseInfo($event)"
      (openVideoInfo)="openVideoInfo($event)" id="itinerary"></app-session>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <button *ngIf="itinerarys.length != 5" mat-raised-button color="primary" id="itinerary-button" (click)="addItinerary()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
<router-outlet></router-outlet>