.button-content {
  display: flex;
  margin-left: auto;
}

#itinerary-button {
  min-width: 0%;
}

#itinerary {
  max-height: 48.5em;
  display: grid;
}

.exercise {
  display: flex;
  height: 20em;
  width: 20em;
}
