:host {
  display: none;
}

:host.is-open {
  display: block;
}

.view-exercise {
  display: flex;
  height: 34em;
  width: 20em;
}
.view-exercise-chat {
  display: flex;
  height: 29em;
  width: 24em;
}
.layout-alignment {
  min-height: 10px;
  padding-bottom: 10px;
  display: block;
}
#disabled-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
