:host {
  display: none;
}

:host.is-open {
  display: block;
}

.view-exercise {
  display: flex;
  height: 34em;
  width: 20em;
}

.layout-alignment {
  min-height: 10px;
  padding-bottom: 10px;
  display: block;
}

.mat-card-exercise {
  display: flex;
  height: 46em;
}
