<mat-card style="display: flex; height: 46em;">
  <mat-tab-group>
    <mat-tab label="Ejercicio">
      <div class="layout-alignment"></div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card class="exercise">
            <textarea matInput placeholder="{{message}}" ></textarea>
          </mat-card>
          <mat-action-row>
            <button mat-raised-button color="primary" (click)="save()" class="button-content">Guardar</button>
          </mat-action-row>
        </div>
        <div fxFlex>
          <mat-card class="exercise">
            <textarea matInput placeholder="Unidad: "></textarea>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Visor"><app-graph-unit></app-graph-unit></mat-tab>
  </mat-tab-group>
</mat-card>

<router-outlet></router-outlet>
