<mat-card>
  <mat-tab-group>
    <mat-tab label="Ejercicio">
      <div class="layout-alignment"></div>
      <div fxLayout="row" fxLayoutGap="20px" id="disabled-scroll">
        <div fxFlex>
          <mat-card>
            <textarea matInput placeholder="Exercise" [(ngModel)]="exerciseJSON" class="view-exercise"></textarea>
          </mat-card>
          <mat-action-row>
            <button mat-raised-button color="primary" (click)="saveExercise()" class="button-content">Guardar</button>
          </mat-action-row>
        </div>
        <div fxFlex>
          <div class="view-exercise-chat">
           <app-chat-exercise class="input" *ngIf="exercise" [exercise] = "exercise"></app-chat-exercise>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Visor"><app-graph-unit></app-graph-unit></mat-tab>
  </mat-tab-group>
</mat-card>

<router-outlet></router-outlet>
