<h1>HomeComponent</h1>


<div class="row" style="margin: auto">
  <div class="col col-md-9" style="border-radius: 10px; border: solid #000000; margin-left: 1%">


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  </div>
  <div class="col-6 col-md-2" style="border-radius: 10px; border: solid #000000; margin-left: 1%; padding-left: 21%;">

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
  <input class="form-control" type="text" style="border-radius: 10px; border: solid #000000; margin-left: 1%; margin-right: 1%">
</div>

<router-outlet></router-outlet>
