.scroll {
  overflow-y: scroll;
}

.full-width {
  width: 100%;
}

.layout-alignment {
  min-height: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: #eee;
}

span {
  color: #ffffff;
}

.mat-card {
  padding: 0
}

#separator-line{
  background-color: #eee;
}
