<div class="layout-alignment"></div>
<div id="separator-line" fxLayout="row" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card>
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>Grafo de unidades</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <app-graph [nodes]="nodes" [links]="links"></app-graph>
    </mat-card>
  </div>
  <mat-card class="scroll">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>Unidades sin relacionar</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-units-not-related [nodes]="nodesNotRelated" ></app-units-not-related>
  </mat-card>
</div>
<div class="layout-alignment"></div>
<mat-card>
  <mat-card-title>Consola</mat-card-title>
  <mat-form-field class="full-width">
    <input matInput #box type="text" class="full-width" (keyup.enter)="onEnter(box.value)" [formControl]="searchTerm"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of searchResult | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-card>
<div class="layout-alignment"></div>
<router-outlet></router-outlet>
